// #app {
//     height: 100%;
//   }
  html,
  body {
    position: relative;
    // height: 100%;
  }
  
  body {
    background: blue;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper-pagination-bullet{
    background-color: #ccc !important;
    display: flex !important;
    flex-direction: row !important;
    width: 20px;
    height: 20px;
    position: relative;
    left: 100px;  
    margin: 10px !important;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .swiper-button-prev{
    background-color: #cccccc33;
    color: #fff;
    border: 1px solid #333;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer !important;
  }
  .swiper-button-prev:hover{
    background-color: #ccc !important;
    opacity: 0.4 !important;
  }
  .swiper-button-next{
    background-color: #cccccc33;
    color: #fff;
    border: 1px solid #333;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer !important;
  }
  .swiper-button-next:hover{
    background-color: #ccc !important;
    opacity: 0.4 !important;
  }